<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manuelmacaj.bottomnavigation">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Permesso di utitlizzare il GPS_Provider (accesso alla posizione tramite GPS) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:icon="@mipmap/ic_launcher_run_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_run_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RunApp">
        <activity
            android:name=".View.activitiesPackage.DetailRunSessionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.accountPackage.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.loginPackage.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.loginPackage.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.runpackage.RunSessionActivity"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC9mxGVoXrH_7ZY4kUit7HkRSIW_t8xqcM" />
        <activity
            android:name=".View.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.accountPackage.EditPasswordActivity"
            android:screenOrientation="portrait" />
        <service
            android:name=".Service.GPSService"
            android:foregroundServiceType="location"
            android:stopWithTask="true" />
    </application>

</manifest>